*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}
::-webkit-scrollbar {
    display: none;
}
html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", 나눔고딕, "Nanum Gothic", "Noto Sans KR",
        "Noto Sans CJK KR", arial, 돋움, Dotum, Tahoma, Geneva, sans-serif;
    line-height: 1.2;
}
html,
body,
#root {
    height: 100%;
}
#app {
    min-height: 100vh;
    height: 100%;
    position: relative;
}
.app-outer {
    margin: 0 auto;
    max-width: 768px;
}
button {
    font-family: inherit;
    color: inherit;
}
